.productive-user{
    border-radius: 24px;
    padding: 80px 50px;
    background-color: rgb(78, 71, 255, 0.1);
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 116px;
    margin-bottom: 137px;
    margin-left: 141px;
    margin-right: 159px;
}
.section-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin: 0px;
    margin-bottom: 40px;
}
.productive-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.productive-description{
    font-weight: 16px;
    font-size: 16px;
    color: rgb(0, 0, 0, 0.5);
    margin: 0px;
}
.about-item{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.about-item1{
    text-align: center;
}