.action div h1{
    margin: 0px;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 23px;
    padding-top: 62.5px;
}
 .action div button{
    /* margin-bottom: 62.5px; */
 }
.action div p{
    margin: 0px;
    font-weight: 16px;
    font-size: 24px;
    color: rgb(37, 36, 50, 50%);
    margin-top: 23px;
    margin-bottom: 23px;
}
.action{
    margin-top: 116px;
    margin-left: 140px;
    margin-right: 160px;
    display: flex;
    justify-content: space-between;
    gap: 220px;
}
.action div img{
    height: 328px;
    width: 403px;
    border-radius: 48px;
    margin-bottom: 116px;
}
.action-content{
    width: 517px;
    height: 203px;
}
